// Base Styles

body {
    background: #fafafa;
    font-family: $font-family-sans;
    font-size: 1rem;
    color: #222;
    margin: 0;
}

.main {
    padding: 1rem;
    // background-color: #fafafa;
}

.main--book {
    background-color: $primary-color--light;
}

.header {
    @extend %type--serif;
    background-color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    height: 4rem;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
}


.logo {
    transition: opacity 200ms;
    opacity: 1;

    &:hover {
        opacity: 0.5;
    }
}

.header--book {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;

    .header__logo {
        position: absolute;
    }

    .book__title {
        flex: 1;
        margin: auto;
        max-width: 65%;

        @media screen and (min-width: 40em) {
            // max-width: rem-calc(400);
        }
    }
}

.header--book + .main {
    padding-top: 9rem;
}

.section__header {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;

    &:after {
        content: '';
        top: 0;
        width: 10%;
        height: 1px;
        margin: auto;
        display: block;
        margin-top: 1rem;
        border-top: 1px solid $primary-color;

    }
}


// Footer

.footer {
    background: darken($primary-color--light, 1%);
    padding: 1rem;
    text-align: center;
    color: #666;

    a {
        color: darken($primary-color--dark, 25%);
    }
}

// Accessibility

// Show for screen readers only
.show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.turbolinks-progress-bar {
  height: 2px;
  background-color: #AAC2CE;
}



// Animations

// Fade In
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header__logo,
.book__title {
    opacity: 0;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-name: fadeIn;
}
