// Base Styles

@import 'https://fonts.googleapis.com/css?family=Alegreya:400,400i';

body {
  background: $primary-color--light;
  font-family: 'Alegreya', times, serif;
}

.main {
  margin: 1rem;
}

.header {
  background-color: $primary-color;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}
