.row {
    display: flex;
    max-width: $grid-width;
    margin-left: auto;
    margin-right: auto;
    flex-flow: row wrap;
}

    .row--expanded {
        max-width: 100%;
    }

    .align-center {
        justify-content: center;
    }

.columns {
    flex: 1 1 0;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    box-sizing: border-box;
}

.small-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.medium-6 {
    @media screen and (min-width: 40em) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.large-4 {
    @media screen and (min-width: 64em) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
