// Typography

@import 'https://fonts.googleapis.com/css?family=Alegreya:400,400i';
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500';

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

%type--jumbo,
.type--jumbo {
    font-family: $font-family-serif;
    font-size: 3rem;
    line-height: 2rem;
}


%type--large,
.type--large {
    font-family: $font-family-serif;
    font-size: 2rem;
}

%type--medium,
.type--medium {
    font-family: $font-family-serif;
    font-size: 1.2rem;
}

%type--regular,
.type--regular {
    font-family: $font-family-serif;
    font-size: 1rem;
}

%type--small,
.type--small {
    font-family: $font-family-serif;
    font-size: 0.85rem;
}

.text-center {
    text-align: center;
}
