body {
    font-size: 1rem;
    color: #222;
    background: #e9edf1;
    margin: 0;
}

main {
    max-width: 30em;
    margin: auto;
    margin-bottom: 6rem;
    background-color: #fff;
    padding: 4rem 7rem;
    border-radius: 3px;
}

p {
    font-size: 1.1rem;
    line-height: 1.75;
    font-family: "Alegreya", baskerville, times;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

p + p {
    text-indent: 1.5em;
}

.first-line {
    text-transform: uppercase;
    font-size: 0.825em;
}

quote {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: block;
}

quote,
quote p {
    font-size: 0.9rem;
    font-style: italic;
}

header {
    background: #dae2e8;
    text-align: center;
    padding: 1rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-style: italic;
}

.chapter-break {
    display: block;
    margin: 5rem auto 2.5rem;
    font-size: 1.5em;
    text-align: center;
}

.type__section-break {
    background-image: url("../img/fleuron.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    height: 1rem;
    background-size: contain;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
